@model Scaffolding.Models.Sending

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sending</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Provider)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Provider.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateDelivery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateDelivery)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateDeparture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateDeparture)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
